[submodule "plugin.audio.goonbag"]
	path = plugin.audio.goonbag
	url = git@github.com:Ruxton/plugin.audio.goonbag.git
[submodule "repository.ruxton"]
	path = repository.ruxton
	url = git@github.com:Ruxton/repository.ruxton.git
